{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
</head>
<body>
<header>
    <div id="header-left">
        <a href="{% url 'stock' %}">Stock</a>
        <a href="{% url 'catalogue' %}">Catalogue</a>
        <a href="{% url 'index' %}">Index</a>
    </div>
    <div id="header-right">
        <a id="SmartFactoryText" href="{% url 'default' %}"><strong>SmartFactory</strong></a>
    </div>
</header>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
<footer>
    <div id="header-left">
        <a href="/admin/">Admin</a>
    </div>
    <div id="header-right">
        {% if user.username %}
            Logged in as {{ user.username }}
            <a href="{% url 'logout' %}">Logout</a>
        {% endif %}
    </div>
</footer>
</body>
</html>