{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h2>{{ heading }}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    {% if images %}
        {% for image in  images %}
            {{ image.name }}
            <img src="{{ image.image.url }}" alt="My image">
            {{ image.image.url }}
            <br>
        {% endfor %}
    {% endif %}

{% endblock %}
