{% extends 'base.html' %}
{% load tz %}
{% load render_table from django_tables2 %}
{% block content %}
    <div id="container">
        <div id="left">
            <h2>Scan new stock</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" name="submit-stock">Save</button>
            </form>
            <h2>Current Stock</h2>
            {% timezone 'Europe/Dublin'%}
                {% render_table table %}
            {% endtimezone %}
            <h2>Past Stock</h2>
            <div id="past-stock">
                {% timezone 'Europe/Dublin'%}
                    {% render_table checked_out %}
                {% endtimezone %}
            </div>
        </div>
        <div id="right">
            <h2>Filter Stock</h2>
            <form method="post">
                {% csrf_token %}
                {{ filter_form.as_p }}
                <button type="submit" name="submit-filter">Apply</button>
            </form>
        </div>
    </div>
{% endblock %}